<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        ul li{
        display: inline-block;
        }
    </style>
</head>
<body>
<ul>
 <li><a href="/">pocetna</a> </li>
        <li><a href="/register">register</a> </li>
        <li><a href="/login">login</a> </li>
        <li><a href="/logout">logout</a> </li>
        <li><a href="/dodaj-proizvod">/dodaj-proizvod</a> </li>
    <li><a href="/administracija">administracija</a></li>
    </ul>
{{odg}}

<form action="/sacuvaj" method="post">
    id: <input type="text" value="{{proizvod[0]}}" disabled><br>
    <input type="hidden" name="id" value="{{proizvod[0]}}">
    naziv: <input type="text" name="naziv" value="{{proizvod[1]}}"><br>
    cena: <input type="text" name="cena" value="{{proizvod[2]}}"><br>
    kolicina: <input type="text" name="kolicina" value="{{proizvod[3]}}"><br>
    prodavacId: <input type="text" disabled value="{{proizvod[5]}}"><br>
    <input type="submit">
</form>

</body>
</html>